[submodule "src/database"]
	path = src/database
	url = git@co-maker.github.com:PJ-ESC-001831/database.git
[submodule "src/lib/tradesafe"]
	path = src/lib/tradesafe
	url = git@co-maker.github.com:PJ-ESC-001831/tradesafe-sdk.git
